<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleTools" version="1.1.1" targetFramework="net481" />
  <package id="ConsoleTools.Controls" version="1.1.0" targetFramework="net481" />
  <package id="ConsoleTools.Controls.Menus" version="1.1.0" targetFramework="net481" />
  <package id="ConsoleTools.Controls.Spinners" version="1.1.0" targetFramework="net481" />
  <package id="ConsoleTools.Controls.Tables" version="1.1.0" targetFramework="net481" />
  <package id="ConsoleTools.Core" version="1.1.0" targetFramework="net481" />
</packages>